.character-card {
  width: calc(20% - 20px);
  margin: 10px;
  display: inline-block; /* Mostrar las tarjetas en línea */
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  height: 21rem;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.character-card:hover {
  transform: scale(1.05);
}

.card-img-container {
  position: relative;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.favorite-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.favorite-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.favorite-overlay:hover {
  opacity: 1;
}
